body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    grid-template:repeat(4,100px)/repeat(5,100px);
    border: 5px solid;
    width: 500px;
    height: 500px;
    background: linear-gradient(45deg, #ff7b00, #4d00ff);

}

button,#pointer{
    border: 5px solid ;
}

button:hover{
    background-color: #ff7b00;
}

#pointer h3{
    font-size: 100px;
}

#plus h3,#minus h3{
    font-size: 30px;
}

#positive,#negative,#pointer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#plus{
    border-color:red;
    grid-row: 4/6;
    grid-column: 1/span 2;
    margin: 10px;
}
#pointer{
    background: linear-gradient(50deg, #53001f, #4d00ff);
    border-color: green;
    grid-row: 1/4;
    grid-column: 2/5;
    margin: 10px;
}
#minus{
    border-color:blue;
    grid-row: 4/span 2;
    grid-column: 4/span 2 ;
    margin: 10px;
}
